{% load static %}
{% load django_bootstrap5 %}
<div class="modal fade" id="deleteProjectModal-{{project.id}}" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'project_delete' project.id %}" enctype="multipart/form-data" id="editProjectForm">
                {% csrf_token %}
                <input type="hidden" name="project_id" id="editProjectId">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>
                        are you sure you want to delete the project with the name {{project.name}}?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>