<!DOCTYPE html>
<html lang="en">
  <head>
    {% load django_bootstrap5 %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Application{% endblock %}</title>
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <!-- Add default header or leave empty for child templates -->
      {% endblock %}
    </header>
    <main>
      {% include "partials/_alerts.html" %}
      {% block content %}{% endblock %}
    </main>
    <footer class="text-center mt-4">
      {% block footer %}
      <p>&copy; 2025 UFAS1 Incubator </p>
      {% endblock %}
    </footer>
    {% bootstrap_javascript %}

    {% block extra_js %}{% endblock %}
  </body>
</html>
