{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Management System{% endblock %}</title>
    
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'partials/navbar.html' %}
    
    <div class="container-fluid">
      
        <div class="row">
            {% include 'partials/sidebar.html' %}
            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                {% include 'partials/messages.html' %}
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {% bootstrap_javascript %}
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>